CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.vs
dataset-1-subset/IJRR-Dataset-1-subset/LCM/LCM-01.log
dataset-1-subset/IJRR-Dataset-1-subset/PARAM.mat
*.csv
*.mtl
*.jpg
*.ppm
*.log
*.mat
*.pcap
*.json
